<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Get Started With Blogging</h1>
  <p class="lead">Expand your reading Expand your mind</p>
  <hr class="my-4">
  <p>Your privacy stays yours. We don’t sell your data or target you with ads. Ever.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</div>

<%- include('partials/footer') %>
